<app-sidenav></app-sidenav>

<div class="WrapperArea">
    <div class="WrapperBox">
        <div class="Small-Wrapper">
            <h4 class="Title">User Details</h4>

            <div class="DetailsArea">

                <ul>
                    <li>
                        <span>Unique Account Number </span>
                    </li>

                    <li>
                        <span>Name of the user </span>
                    </li>

                    <li>
                        <span>Phone Number </span>
                    </li>

                    <li>
                        <span>Email id </span>
                    </li>

                    <li>
                        <span>Credit Score </span>
                    </li>

                    <li>
                        <span>Narrative</span>
                    </li>

                    <li class="Flex">
                        <span>Verification Documnets</span>
                        <div class="Documnets">
                            <figcaption>
                                <figure>
                                    <img src="https://cdn.pixabay.com/photo/2019/04/26/16/30/id-4157974__340.jpg">
                                    <a href="https://cdn.pixabay.com/photo/2019/04/26/16/30/id-4157974__340.jpg"
                                        data-lightbox="example"><i class="fa fa-arrows-alt"></i></a>
                                </figure>
                                <h3>ID Proof</h3>
                            </figcaption>
                        </div>
                    </li>

                    <li>
                        <span>Number of Linked Accounts</span>
                        5
                    </li>

                    <li>
                        <span>Accounts 1</span>
                        <ul>
                            <li>
                                <span>Type of the account </span>
                                Bank Account
                            </li>

                            <li>
                                <span>Number of Accounts </span>
                                323636362525
                            </li>

                        </ul>
                    </li>

                    <li>
                        <span>Accounts 2</span>
                        <ul>
                            <li>
                                <span>Type of the account </span>
                                Mobile Money
                            </li>

                            <li>
                                <span>Number of Accounts </span>
                                97456321583
                            </li>

                        </ul>
                    </li>




                </ul>
            </div>

        </div>
    </div>
</div>